.App {
}

.login-container {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  width: 50%;
  background-image: url("./Assets/steth\ back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.page-background {
  background-image: url("./Assets/hospital\ background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.doctor-jumbotron {
  background-color: navy !important;
  color: white;
}

.doctor-search-prefix {
  background-color: navy !important;
  color: white !important;
}

.button-color {
  background-color: navy !important;
  color: white !important;
  border-color: white;
}

.table-bordered {
  border: 2px solid navy !important;
}

.table-bordered td {
  border: 1px solid !important;
  border-color: navy !important;
}

.table thead th {
  border: 1px solid !important;
  border-color: navy !important;
}

.patient-img {
  width: 50%;
  margin-left: 25%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.patient-info {
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  font-size: large;
}

.patient-info h4 {
  font-size: 40px;
}

.info-border {
  border: 2px solid !important;
  border-color: navy;
}

.modal-content {
  background-color: rgb(164, 224, 244) !important ;
}

.card {
  background-color: rgb(164, 224, 244) !important;
}

.card-header{
background-color: navy !important; 
color: white;
}

.login-container img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}